<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/button.css">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Login</title>
</head>
<body>
    <h1 style="margin-top: 0;">Login</h1>

    <form action="">
        <div>
        <label for="login">Login</label><br>
        <input type="text" id="login" placeholder="Login Credentials"><br>
        </div>
        <div>
        <label for="password">Password</label><br>
        <input type="password" id="password" placeholder="Password"><br>
        </div>
        <input id="loginBtn" type="submit" value="Login">
    </form>

<!--    <a href="main.html"><button>Home</button></a>-->
<!--    <button class="small button" id="setting" type="button" ></button>-->

    <div id="buttonDiv">
        <button id="setting" type="button" ></button>
        <a href="main.html"><button class="small button">Home</button></a>
    </div>
</body>
    <script src="../scripts/popup.js"></script>
</html>
