<!-- Main Page -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- linking stylesheet goes below -->
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/button.css">

  <!-- // -->
  <title> rSlashWhere </title>
</head>
<body>
  <h1> rSlashWhere </h1>

  <p id="Intro">Enter Reddit post URL in the text box  </p>

  <div>
  <form action="" id="url_form">
<!--    <label for="url_textbox" id="url_title">URL</label><br>-->
    <input type="text" id="url_textbox" name="url" placeholder="Reddit Post URL"><br>
    <button class="small button" id="copyUrl_btn" type="button">Copy Url</button>
<!--    <input type="submit" value="Analyse" id="analyse_btn">-->
    <button class="small button" id="analyse_btn" type="button">Analyse</button>
    <p id="errormsg"></p>
  </form>
  </div>

 <!-- <p>Note: Copy URL button only works when the opened tab is on reddit.</p> -->

  <!-- This div was commented out for the demonstration because we have no functionality coded for it yet. -->
  <div id="buttonDiv">
    <button id="setting" type="button" ></button>
    <a href="login.html"><button class="small button">Login</button></a>
  </div>
  
</body>
  <script src="../scripts/popup.js"></script>
</html>
