h1{
    margin-top: 0;
}

form{
    margin-bottom: 1em;
}

div:not(#buttonDiv){
    padding-bottom: 0.3em;
}

#loginBtn{
    cursor: pointer;
}

label{
   color: white;
}

form input:not(#loginBtn){
    height: 1.5em;
}